<!-- <!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chính - Học Từ Vựng</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1>Học Từ Vựng Cho Trẻ</h1>
  </header>

  <main>
    <h2 class="section-title">Bài Học Mới</h2>
    <div class="container">
      <a href="/learn">
        <div class="categories-card">
          <h3>Bài Học Mới</h3>
        </div>
      </a>
    </div>
  </main>

  <footer>
    <p>© 2024 Học Từ Vựng</p>
  </footer>
</body>
</html> -->
<!-- index.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Văn bản thành giọng nói cho trẻ em</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <h1> Giọng Bé Thông Minh </h1>
    <nav>
      <a href="/login">Đăng nhập</a>
      <a href="/register">Đăng ký</a>
      <a href="#">Trợ giúp</a>
    </nav>
  </header>
  <main>
  
    <h2 class="section-title">Học Cùng Pé</h2>
    <div class="container">
      <div class="card">
        <img src="https://via.placeholder.com/300x150?text=BAI-TAP" alt="Bài Tập">
        <h3>Dịch Từ</h3>
        <p>Nhập Văn Bản </p>
        <a href="/exercise"></a>
        <button onclick="window.location.href='/exercise'">Xem Chi Tiết</button>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/300x150?text=CHUYEN+VAN+BAN" alt="Chuyển văn bản">
        <h3>Chuyển Văn Bản Thành Giọng Nói</h3>
        <p>Nhập Văn Bản </p>
        <a href="/text-to-speech"></a>
        <button onclick="window.location.href='/text-to-speech'">Xem Chi Tiết</button>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/300x150?text=Tu+Vung" alt="Từ Vựng">
        <h3>Từ Vựng</h3>
        <p>Khám phá các từ mới để học và thực hành!</p>
        <a href="/learn">
          <button>Xem Chi Tiết</button>
        </a>
      </div>
      

  <script src="/static/script.js"></script>
</body>
</html>
